@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
    --card: 253 43% 4%;
    --accent: 253 13% 14%;
  }
}

body {
  @apply font-inter;
}
